@*John Berthelsen*@
@*Page with form to edit movies in Joel Hilton's collection*@

@{
    ViewData["Title"] = "Edit Movie";
}

@model Mission4.Models.ApplicationResponse

<h1><i>@Model.Title</i></h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="Category">Category</label><br />
        <select asp-for="CategoryID">
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br /><br />

        <label asp-for="Title">Title</label><br />
        <input asp-for="Title" required /><br /><br />

        <label asp-for="Year">Year</label><br />
        <input asp-for="Year" required /><br /><br />

        <label asp-for="Director">Director</label><br />
        <input asp-for="Director" required /><br /><br />

        <label asp-for="Rating">Rating</label><br />
        <select asp-for="Rating" required />

        @if (Model.Rating == "G")
        {
            <option value="G" selected="selected">G</option>
        }
        else
        {
            <option value="G">G</option>
        }


        @if (Model.Rating == "PG")
        {
            <option value="PG" selected="selected">PG</option>
        }
        else
        {
            <option value="PG">PG</option>
        }

        @if (Model.Rating == "PG-13")
        {
            <option value="PG-13" selected="selected">PG-13</option>
        }
        else
        {
            <option value="PG-13">PG-13</option>
        }

        @if (Model.Rating == "R")
        {
            <option value="R" selected="selected">R</option>
        }
        else
        {
            <option value="R">R</option>
        }

        </select><br /><br />

        <label asp-for="Edited">Edited</label><br />
        <select asp-for="Edited" />

        @if (Model.Edited is false)
        {
            <option value="false" selected="selected">No</option>
        }
        else
        {
            <option value="false">No</option>
        }

        @if (Model.Edited is true)
        {
            <option value="true" selected="selected">Yes</option>
        }
        else
        {
            <option value="true">Yes</option>
        }

        </select><br /><br />

        <label asp-for="LentTo">Lent To</label><br />
        <input asp-for="LentTo" /><br /><br />

        <label asp-for="Notes">Notes</label><br />
        <input asp-for="Notes" maxlength="25" /><br /><br />

        <button type="submit">Submit</button>

    </form>
</div>