@*John Berthelsen*@
@*Home Page*@

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1><br/>

<div>
    <h2>Welcome to the greatest website for tracking your favorite movies!</h2><br/>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg"/>
<br/>