@*John Berthelsen*@
@*The Baconsale Podcast Page*@

@{
    ViewData["Title"] = "My Podcasts";
}
<h1>My Podcasts</h1>
<br />
<div>
    <h2>Tune in to the greatest Hickory-Smoked Pop Culture Podcast <a href="https://baconsale.com/" target="_blank">here</a>!</h2><br />
</div>

<img src="~/img/baconsale.png" height="500"/>
<br />