@*John Berthelsen*@
@*Base HTML with imported CSS and NavBar*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mycss.css" />
    <!--Custom Tab Icon-->
    <link rel="icon" href="~/img/clapper.jpeg" />
</head>

<body>
@*NavBar*@
    <div style="padding-bottom:25px; padding-top:50px; font-size:x-large;">
        <a asp-controller="Home" asp-action="Index" style="color: #1B476A;">Home</a>&nbsp;&nbsp;
        <a asp-controller="Home" asp-action="MyPodcasts" style="color: #1B476A;">My Podcasts</a>&nbsp;&nbsp;
        <a asp-controller="Home" asp-action="MovieList" style="color: #1B476A;">Movie Collection</a>&nbsp;&nbsp;
        <a asp-controller="Home" asp-action="MovieApp" style="color: #1B476A;">Submit New Movie</a>&nbsp;&nbsp;
    </div>
    <div>
        @RenderBody()
    </div>
</body>

</html>